h1 {
    color:black;
    padding-left:10%;
    padding-right:10%;
}

.hollar-dollar {
    padding-left:10%;
    padding-right:10%;
}

.tip-group {
    padding-left:10%;
    padding-right:10%;
}
.you-tippin {
    padding-left:10%;
    padding-right:10%;
}
.results {
    padding-left:10%;
    padding-right:10%;
}
